@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gradient-dark: hsl(79 35.2% 4.9%);
    --gradient-light: hsl(79 35.2% 12.2%);
    --primary-colour: hsl(79 0% 16.6%);
    --secondary-colour: hsl(79 100% 100%);
    --primary-accent-colour: hsl(79 100% 16.6%);
    --secondary-accent-colour: hsl(79 100% 80.9%);
    --primary-accent-shadow: hsl(79 100% 11.1%);
    --code-block-background-colour: hsl(79 0% 10.3%);
    --css-selector-colour: hsl(0, 100%, 55%);
    --css-property-colour: hsl(147 100% 60.1%);
    --css-value-colour: hsl(41 100% 60.1%);
    --js-keyword-colour: hsl(0, 100%, 55%);
    --js-function-colour: hsl(147 100% 60.1%);
    --js-string-colour: hsl(41 100% 60.1%);
    --js-comment-colour: hsl(79 0% 50%);
    --js-number-colour: hsl(200 100% 60%);
    --js-operator-colour: hsl(300 100% 70%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, var(--gradient-dark), var(--gradient-light));
    background-size: cover;
    min-height: 100vh;
}

body {
    font-size: clamp(1rem, 1rem + 0.5vw, 1.25rem);
    color: var(--secondary-colour);
}

h1 {
    font-size: 1.25em;
}

a:link, a:visited {
    color: var(--secondary-accent-colour);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 4rem;
    top: 0;
    z-index: 1;
}

nav h1 {
    margin-left: 1rem;
}

.nav_links {
    display: none;
}

/* Slightly larger because on chrome browsers the scrollbar covers the button */
nav #hamburger-checkbox_container, .nav_links {
    margin-right: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--secondary-colour);
}

#hamburger-checkbox_container {
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hamburger-checkbox:checked ~ #hamburger-checkbox_container .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
    transition: transform 0.2s ease-in-out;
}

#hamburger-checkbox:checked ~ #hamburger-checkbox_container .hamburger-line:nth-child(2) {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#hamburger-checkbox:checked ~ #hamburger-checkbox_container .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -5px);
    transition: transform 0.2s ease-in-out;
}

#hamburger-checkbox:not(:checked) ~ #hamburger-checkbox_container .hamburger-line:nth-child(1) {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

#hamburger-checkbox:not(:checked) ~ #hamburger-checkbox_container .hamburger-line:nth-child(2) {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#hamburger-checkbox:not(:checked) ~ #hamburger-checkbox_container .hamburger-line:nth-child(3) {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

#hamburger-checkbox_container:hover {
    cursor: pointer;
}

#hamburger-checkbox {
    display: none;
}

.hamburger-line {
    width: 100%;
    border: 0.15rem solid var(--secondary-colour);
    border-radius: 0.25rem;
    background-color: var(--secondary-colour);
}

#modal_menu {
    display: none;
}

#hamburger-checkbox:checked ~ #modal_menu {
    background-image: linear-gradient(to bottom, var(--gradient-dark), var(--gradient-light));
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    padding-top: 4rem;
    position: fixed;
    z-index: -1;
}

#modal_menu a {
    text-align: center;
    color: var(--secondary-colour);
    font-weight: bold;
    font-size: 2em;
    width: 100%;
    padding: 1rem;
}

#modal_menu a:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    z-index: -1;
}

section {
    width: 90%;
    max-width: 80ch;
}

.title_section h1 {
    font-size: 1.7em;
}

.title_section {
    margin-bottom: 1rem;
}

.information_section h2{
    font-size: 0.9em;
    color: var(--secondary-accent-colour);
    margin-bottom: 1rem;
}

.blog-content_section p, .blog-content_section img, .blog-content_section h1 {
    margin-bottom: 1rem;
}

.blog-content_section img {
    width: 100%;
}

code {
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--code-block-background-colour);
    margin-bottom: 1rem;
    color: var(--secondary-accent-colour);
}

.code_block {
    border-left: 0.25rem solid var(--secondary-accent-colour);
    display: block;
    width: 100%;
    font-size: 0.7em;
    overflow-x: scroll;
    box-shadow: 0 0 4px var(--secondary-accent-colour);
    color: white;
}

.css_selector {
    color: var(--css-selector-colour);
}

.css_property {
    color: var(--css-property-colour);
}

.css_value {
    color: var(--css-value-colour);
}

.js_keyword {
    color: var(--js-keyword-colour);
}

.js_function {
    color: var(--js-function-colour);
}

.js_string {
    color: var(--js-string-colour);
}

.js_comment {
    color: var(--js-comment-colour);
    font-style: italic;
}

.js_number {
    color: var(--js-number-colour);
}

.js_operator {
    color: var(--js-operator-colour);
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 2rem;
}

.card_link {
    text-decoration: none;
}

.card {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--gradient-dark), var(--gradient-light));
    color: var(--secondary-colour);
    border: 0.15rem solid var(--secondary-colour);
    height: 360px;
}

.card img {
    height: auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
    max-height: 50%;
}

.card_text {
    height: auto;
    padding: 1rem;
    line-height: 1;
}

.card_text h2, .card_text p {
    margin-bottom: 0.5rem;
}

.card a {
    color: var(--secondary-accent-colour);
}

.card h2 {
    font-size: 1.25em;
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    section {
        width: clamp(60ch, 70ch, 80ch);
    }

    #hamburger-checkbox, #hamburger-checkbox_container {
        display: none;
    }

    .nav_links {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    .nav_links a {
        color: white;
    }

    .nav_links a:hover {
        border-bottom: 0.25rem solid var(--secondary-colour);
        transition: border-bottom 0.15s ease-in-out;
    }
}
