@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-colour: hsl(79 0% 16.6%);
    --secondary-colour: hsl(79 100% 100%);
    --primary-accent-colour: hsl(79 100% 16.6%);
    --secondary-accent-colour: hsl(79 100% 80.9%);
    --code-block-background-colour: hsl(79 0% 10.3%);
    --css-selector-colour: hsl(0, 100%, 55%);
    --css-property-colour: hsl(147 100% 60.1%);
    --css-value-colour: hsl(41 100% 60.1%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

b, i {
    color: var(--secondary-accent-colour);
}

a:link, a:visited {
    color: var(--secondary-accent-colour);
}

img {
    background-color: var(--secondary-colour);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 4rem;
    top: 0;
    z-index: 1;
    background-color: var(--primary-accent-colour);
}

nav a {
    text-decoration: none;
    color: var(--secondary-colour);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

section {
    width: clamp(60ch, 70ch, 80ch);
}

section p {
    margin-top: 1rem;
}

.title_section h1 {
    font-size: 2.5em;
}

.title_section {
    margin-bottom: 1rem;
}

.information_section {
    font-size: 0.8em;
    color: var(--secondary-accent-colour);
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.blog-content_section p {
    margin-bottom: 0.5rem;
}

code {
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--code-block-background-colour);
}

.code_block {
    border-left: 0.25rem solid var(--secondary-accent-colour);
    display: block;
    width: 100%;
}

.css_selector {
    color: var(--css-selector-colour);
}

.css_property {
    color: var(--css-property-colour);
}

.css_value {

}

@media(prefers-color-scheme: light) {
    body {
        background-color: var(--secondary-colour)
    }
}