@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-colour: hsl(79 0% 16.6%);
    --secondary-colour: hsl(79 100% 100%);
    --primary-accent-colour: hsl(79 100% 16.6%);
    --secondary-accent-colour: hsl(79 100% 80.9%);
    --primary-accent-shadow: hsl(79 100% 11.1%);
    --code-block-background-colour: hsl(79 0% 10.3%);
    --css-selector-colour: hsl(0, 100%, 55%);
    --css-property-colour: hsl(147 100% 60.1%);
    --css-value-colour: hsl(41 100% 60.1%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: clamp(1rem, 1rem + 0.5vw, 1.25rem);
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

h1 {
    font-size: 1.25em;
}

b, i {
    color: var(--secondary-accent-colour);
}

a:link, a:visited {
    color: var(--secondary-accent-colour);
}

img {
    background-color: var(--secondary-colour);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 4rem;
    top: 0;
    z-index: 1;
    background-color: var(--primary-accent-colour);
}

nav h1 {
    margin-left: 1rem;
}

/* Slightly larger because on chrome browsers the scrollbar covers the button */
nav #hamburger-checkbox_container {
    margin-right: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--secondary-colour);
}

#hamburger-checkbox_container {
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hamburger-checkbox_container:hover {
    cursor: pointer;
}

#hamburger-checkbox {
    display: none;
}

.hamburger-line {
    width: 100%;
    border: 0.15rem solid var(--secondary-colour);
    border-radius: 0.25rem;
}

#modal_menu {
    display: none;
}

#hamburger-checkbox:checked ~ #modal_menu {
    background-color: var(--primary-accent-colour);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin-top: 4rem;
    position: fixed;
    z-index: -1;
}

#modal_menu a {
    text-align: center;
    color: var(--secondary-colour);
    font-weight: bold;
    font-size: 2em;
    width: 100%;
    padding: 1rem;
}

#modal_menu a:hover {
    background-color: var(--primary-accent-shadow);
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

section {
    width: 90%;
    max-width: 80ch;
}



.title_section h1 {
    font-size: 1.7em;
}

.title_section {
    margin-bottom: 1rem;
}

.information_section h2{
    font-size: 0.9em;
    color: var(--secondary-accent-colour);
    margin-bottom: 1rem;
}

.blog-content_section p, .blog-content_section img, .blog-content_section h1 {
    margin-bottom: 1rem;
}

code {
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--code-block-background-colour);
    margin-bottom: 1rem;
}

.code_block {
    border-left: 0.25rem solid var(--secondary-accent-colour);
    display: block;
    width: 100%;
}

.css_selector {
    color: var(--css-selector-colour);
}

.css_property {
    color: var(--css-property-colour);
}

.css_value {

}

@media(prefers-color-scheme: light) {
    body {
        background-color: var(--secondary-colour)
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    section {
        width: clamp(60ch, 70ch, 80ch);
    }
}
